.playlist-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .playlist-scroll {
      flex: 1;
      overflow-y: auto;
      padding: 20px;
      .playlist-content {
        /* 加载更多样式 */
        .loading {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0;
          color: var(--el-text-color-secondary);
        }
  
        .loading .el-icon {
          margin-right: 5px;
        }
  
        .empty-data {
          text-align: center;
          padding: 40px 0;
          color: var(--el-text-color-secondary);
          font-size: 14px;
        }
      }
    }
    /* 滚动条样式 */
    .playlist-scroll::-webkit-scrollbar {
      width: 6px;
    }
  
    .playlist-scroll::-webkit-scrollbar-thumb {
      background: var(--el-border-color-darker);
      border-radius: 3px;
    }
  
    .playlist-scroll::-webkit-scrollbar-track {
      background: var(--el-border-color-light);
      border-radius: 3px;
    }
}